<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login | Placement Portal</title>

    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/login.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<header>

    <nav class="navbar">

        <div class="logo">

            <i class="fa-solid fa-graduation-cap"></i>

            Placement Portal

        </div>

        <ul class="nav-links">

            <li><a href="/">Home</a></li>

            <li><a href="/register">Register</a></li>

        </ul>

    </nav>

</header>


<div class="login-container">

    <div class="login-left">

        <img src="/images/banners/login21.png" alt="Login Image">

    </div>

    <div class="login-right">

        <div class="login-box">

            <h2>

                Welcome Back

            </h2>

            <p>

                Login to continue

            </p>

            <div class="role-buttons">

                <button
                    class="role active"
                    data-role="student">

                    Student

                </button>

                <button
                    class="role"
                    data-role="company">

                    Company

                </button>

                <button
                    class="role"
                    data-role="admin">

                    Admin

                </button>

            </div>

            <form id="loginForm">

                <div class="input-group">

                    <i class="fa-solid fa-envelope"></i>

                    <input
                        type="email"
                        id="email"
                        placeholder="Email">

                </div>

                <div class="input-group">

                    <i class="fa-solid fa-lock"></i>

                    <input
                        type="password"
                        id="password"
                        placeholder="Password">

                </div>

                <button
                    type="submit"
                    class="primary-btn login-btn-full">

                    Login

                </button>

            </form>

            <div class="login-footer">

                Don't have an account?

                <a href="/register">

                    Register

                </a>

            </div>

        </div>

    </div>

</div>

<script src="/js/login.js"></script>

</body>

</html>
