<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Register | Placement Portal</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<header>

    <nav class="navbar">

        <div class="logo">

            <i class="fa-solid fa-graduation-cap"></i>

            Placement Portal

        </div>

        <ul class="nav-links">

            <li><a href="/">Home</a></li>

            <li><a href="/login">Login</a></li>

        </ul>

    </nav>

</header>

<div class="register-container">

   <div class="register-left">

    <div class="register-image">

        <img src="/images/banners/register3.png"
             alt="Register Illustration">

    </div>

</div>
    <div class="register-right">

        <div class="register-box">

            <h2>Create Account</h2>

            <p>Register as Student or Company</p>

            <div class="role-buttons">

                <button
                    class="role active"
                    data-role="student">

                    Student

                </button>

                <button
                    class="role"
                    data-role="company">

                    Company

                </button>

            </div>

            <form id="registerForm">

                <div id="dynamicFields">

                </div>

                <button
                    type="submit"
                    class="primary-btn register-btn-full">

                    Register

                </button>

            </form>

            <div class="register-footer">

                Already have an account?

                <a href="/login">

                    Login

                </a>

            </div>

        </div>

    </div>

</div>

<script src="/js/register.js"></script>

</body>

</html>